{% extends "layouts/a.html" %}
{% block content %}
<div class="pxp-dashboard-content-details">
    <h1>New Job Offer</h1>
    <p class="pxp-text-light">Add a new job to your company's jobs list.</p>

    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="col-xxl-6">
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">Job title</label>
                    {{ form.title }}
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <label for="{{ form.subject.id_for_label }}" class="form-label">Subject</label>
                {{form.subject}}
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="{{ form.level.id_for_label }}" class="form-label">Level of Study</label>
                    {{form.level}}
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="{{ form.description.id_for_label }" class="form-label">Job description</label>
            {{form.description}}
        </div>

        <div class="row">
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="{{ form.experience.id_for_label }" class="form-label">Experience</label>
                    {{form.experience}}
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="{{ form.gender.id_for_label }" class="form-label">Preferred Tutor’s Gender</label>
                    {{form.gender}}
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="{{form.lesson_time.id_for_label }}" class="form-label">Preferred Lesson Time</label>
                    {{form.lesson_time}}
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="{{ form.budget.id_for_label }" class="form-label">Budget range</label>
                    {{form.budget}}
                </div>
            </div>
        </div>

        <div class="mt-4 mt-lg-5">
            <button type="submit" class="btn rounded-pill pxp-section-cta">Publish Job</button>
            <button class="btn rounded-pill pxp-section-cta-o ms-3">Save Draft</button>
        </div>
    </form>
</div>

<footer>
    <div class="pxp-footer-copyright pxp-text-light">© 2021 Jobster. All Right Reserved.</div>
</footer>
{% endblock content %}